*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-emphasis: none;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(131, 190, 190), rgb(187, 228, 226)), url(PHOTO/sbg.jpg);
}
h1{
    background: #f2f7a1;
    font-size: 110px;
    padding: 30px 0 0 125px;
    margin: -5px 0 0 -60px;
    height: 180px;
    color: #071952;
}
a{
    padding: 6px 0;
    margin-top: -70px;
    color: #062ba1;
    font-weight: 600;
}
a:hover{
    color: #1a3dad;
}
.logo{
    margin: -140px 0 0 460px;
}
img{
    width: 10%;
}
.nav{
    justify-content: space-between;
    display: flex;
    margin: 0 100px 0 300px;
    font-size: 16px;
    color: #071952; 
}
.image img{
    box-shadow: rgba(242, 247, 161) 5px 5px, rgb(240, 247, 113) 10px 10px, rgb(230, 236, 100) 15px 15px, rgba(2230, 236, 100) 20px 20px, rgb(244, 253, 61) 25px 25px;
    margin: 140px 0 0 -350px;

    border-radius: 10px;
    width: 50%;
}
.contact{
    margin-top: 134px;
}
.contact i{
    display: block;
    margin: -190px 0 0 300px;
}   
i{
cursor: pointer;
    color: #071952;
    font-size: 65px;
}
i:hover{
    color: #1a3dad;
}
p{
    font-size: 20px;
    color: #062ba1;
    margin: -237px 0 0 400px;
}
.mobile{
    margin: 78px 0 0 400px;
}
.email{
    margin-top: 78px;
}
span{
    margin-top: 5px;
    display: block;
    font-size: 15px;
}
h2{
    color: #071952;
    font-size: 50px;
    margin: -450px 0 0 300px;
}
.fdbck{
    font-size: 25px;
}